.contactList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.contactItem {
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 2px solid gray;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
